@import "./utils/breakpoints";
@import "./utils/variables";
@import "./components/0general";
@import "./components/1header";
@import "./components/2contacts";
@import "./components/3cards";
@import "./components/5man";
@import "./components/4footer";
@import "./components/10about";
@import "./components/mobile-menu";
