/*0general*/
body {
  color: #524848;
  background-color: white;
  font-family: "Roboto", ‘Raleway’ sans-serif;
  font-style: normal;
}

body.modal-open {
  overflow: hidden;
}

h1,
h3,
h2,
h4,
p,
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  /*width: 1200px;*/

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.background {
  padding-bottom: 15px;
  background-image: url(..//images/bgbox.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
