/* About-us */
.section-header.about-us {
  padding-bottom: 20px;
  background-image: url(..//images/bgbox.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about-us {
  &__text {
    margin-bottom: 10px;
  }

  &__list {
    margin-top: 0;
    margin-bottom: 10px;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__address {
    margin-top: 50px;
  }

  &__contacts {
    margin-bottom: 20px;
  }
}
