/* About-us */
.about-us {
  &__text {
    margin-bottom: 10px;
  }

  &__list {
    margin-top: 0;
    margin-bottom: 10px;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__address {
    margin-top: 50px;
  }

  &__contacts {
    margin-bottom: 20px;
  }
}
