.container.header {
  padding-top: 15px;
  padding-bottom: 15px;
}

.menu {
  display: flex;
  justify-content: space-between;

  &__link {
    color: inherit;
  }
}

.logo {
  color: rgb(249, 9, 68);
  font-weight: bold;
  font-size: 20px;
}

.menu-nav {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;

  &__item:not(:last-child) {
    padding-right: 15px;
  }

  &__link {
    text-decoration: none;
    color: inherit;
  }
}
