.section-contacts {
  background-image: url(..//images/bgbox.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.container.contacts {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 5px;
}

.about {
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__span {
    @media screen and (max-width: 479px) {
      display: none;
    }
  }

  &__link {
    @media screen and (max-width: 479px) {
      display: none;
    }
    margin-top: 10px;
    text-decoration: underline;
    color: inherit;
  }

  &__title {
    @media screen and (max-width: 767px) {
      color: red;
      font-size: 20px;
    }
    color: #524848;
    text-align: center;
  }

  &__text {
    @media screen and (max-width: 767px) {
      display: none;
    }
    font-size: 20px;
  }
}

.header-tel-email {
  @media screen and (max-width: 767px) {
    display: none;
  }
  &__item {
    margin-top: 10px;
  }
  &__link {
    color: inherit;
  }
}
