.section-footer {
  background-image: url(..//images/bgbox.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 20px;
  padding-top: 20px;
}
.footer {
  &__logo {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  &__menu {
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.footer-menu-nav {
  text-align: center;
  color: rgb(110, 79, 79);
  &__link {
    color: rgb(110, 79, 79);
  }
}

.inctagram {
  color: rgb(110, 79, 79);
  @media screen and (max-width: 767px) {
    display: none;
  }
}
