.section-man {
  padding-bottom: 15px;
  background-image: url(..//images/bgbox.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.filters {
  &__button-center {
    margin-left: 30px;
    margin-bottom: 10px;
    @media screen and (max-width: 479px) {
      margin-left: 90px;
    }
  }
}

.project {
  &__img {
    margin-left: auto;
    margin-right: auto;
  }
}
