.section-man {
  padding-bottom: 15px;
  background-image: url(..//images/bgbox.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.project {
  &__img {
    margin-left: auto;
    margin-right: auto;
  }
}

.project-thumb__title.aside {
  padding-top: 0;
  font-size: 9px;
}
