.section-man {
  padding-bottom: 15px;
  background-image: url(..//images/bgbox.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.filters {
  &__button-center {
    margin-left: 30px;
    margin-bottom: 10px;
  }
}

.project__img {
  margin-left: auto;
  margin-right: auto;
}
